$color-background: #030303
$color-border: #121212

body
  background: #000

.content_wrapper
  text-align: center
  background: $color-background
  border: 1px solid $color-border
  padding: 20px
  position: absolute
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)

.input-monospace
  font-family: Consolas, monospace
  background: $color-background
  font-size: 24px
  line-height: 20px
  min-height: 28px
  border: 1px solid $color-border
  color: #ffffff
  outline: none
  padding: 12px 16px
  vertical-align: middle
  text-align: center
  margin: 20px

.code-checkbox
  width: 20px
  height: 20px

#hash
  width: 422px

::selection
  background: #fff