html {
  background-color: #000;
  font-family: monospace;
  color: #444;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  margin-bottom: 0;
}

.content_wrapper {
  text-align: center;
}

.unit_wrapper {
  display: inline-block;
  text-align: center;
}

.unit_input {
  text-align: center;
  background-color: black;
  font-family: monospace;
  color: #ddd;
  font-size: 30px;
  border: 1px solid #333;
  border-radius: 1px;
}